/* header-footer.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 10;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.matrimonial {
    font-weight: bold;
}

.connect {
    font-weight: 400;
    color: #f0c040;
    margin-left: 5px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #f0c040;
}

/* Footer Styling */
footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
